<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのご飯は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>韓国料理</h6>
    <p>今の感じだと、楽しみたい気分なのかなって思いました!</p>
    <p>みんなで集まって、いろいろ頼みたくなる日かもしれませんね!</p>
    <p>もし迷っていたら、韓国料理も合いそうです!</p>
  <% when ["1", "1", "1", "2"] %>
    <h6>韓国料理</h6>
    <p>テンション高めで、満足感もほしい日っぽいです。</p>
    <p>みんなでシェアしつつ、お腹いっぱいになりたい気分ですね。</p>
    <p>今日は韓国料理がしっくりくる可能性、高そうです！</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>イタリアン</h6>
    <p>重すぎるのは違うけど、軽すぎるのも物足りないかも。</p>
    <p>そんな絶妙な気分の日に、イタリアンは安心です。</p>
    <p>「イタリアンでよかったな」ってなりそうです！</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>イタリアン</h6>
    <p>落ち着いて食べたい気分が伝わってきます！</p>
    <p>定番だけど外しにくい選択、今は大事かもですね！</p>
    <p>そんなときは、イタリアンを選ぶのもありかもです。</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>韓国料理</h6>
    <p>「今日はちゃんと食べたいな」って気分ですかね！</p>
    <p>重すぎないけど、満足感はほしい日ですよね。</p>
    <p>韓国料理見たら「これだ！」ってなるかもです！</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>韓国料理</h6>
    <p>がっつりいきたいけど、楽しさも大事にしたい感じですね。</p>
    <p>ちょっとずつ色々食べられるのがちょうどよさそうです。</p>
    <p>その感じなら、中華料理が合いそうな気がします。</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>イタリアン</h6>
    <p>今日はバランス重視な感じがします！</p>
    <p>物足りなさは避けたい感じですかね、、！</p>
    <p>よかったら、イタリアンも候補に入れてみてください！</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>中華</h6>
    <p>お腹もしっかり満たしたい日っぽいです。</p>
    <p>量も味も妥協したくない感じ、伝わってきます！</p>
    <p>そんなときは、中華が頼れる存在かもしれません。</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>中華</h6>
    <p>今日はエネルギー補給したい気分かもですね。</p>
    <p>考えるより「食べたい」で決めてもよさそうです！</p>
    <p>中華、今の勢いに合ってそうです。</p>
  <% when ["2", "1", "1", "2"] %>
    <h6>中華</h6>
    <p>満足感はちゃんとほしい感じ！</p>
    <p>しっかり食べたいけど落ち着きたい人向け</p>
    <p>中華を選ぶと、ちょうど満たされそうです！</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>洋食</h6>
    <p>落ち着いて食べたいけど、ちょっと特別感もほしい日ですね！</p>
    <p>気負わず選べて、安心できるご飯が合いそうです。</p>
    <p>洋食、今の気分にしっくりきそうです。</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>洋食</h6>
    <p>飽きのこない安定の美味しさ</p>
    <p>迷ったら選びたいご飯</p>
    <p>洋食を選ぶの、いい判断な気がします！</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>洋食</h6>
    <p>雰囲気も味も、どっちも妥協したくない感じですね。</p>
    <p>派手すぎないけど、ちゃんと満足できるご飯。</p>
    <p>洋食、今のバランス感に合ってそうです。</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>和食</h6>
    <p>今日はちょっと体をいたわりたい気分かもですね。</p>
    <p>和食、やさしく寄り添ってくれそうです。</p>
    
  <% when ["2", "2", "2", "1"] %>
    <h6>和食</h6>
    <p>落ち着いたご飯を求めてる感じがします。</p>
    <p>派手さより安心感、今日はそっちかもですね。</p>
    <p>和食を選ぶと、ほっとできそうです。</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>和食</h6>
    <p>今日はシンプルがいちばんかもしれません。</p>
    <p>落ち着いた時間を過ごしたい日に</p>
    <p>和食で間違いないのでは！！！</p>
  <% end %>

</div>
